# Dart
.packages
.pub
packages
pubspec.lock
.dart_tool
node_modules
/build/

# javascript
node_modules/
package-lock.json

# Coverage
/coverage/

# Docs
/doc/api/

# Examples
/example/web/http/cross_origin_file_transfer/files/
