language: dart
dart:
  - 1.24.2
with_content_shell: true
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - npm install
  - pub get --packages-dir
  - pub run dart_dev format --check
  - pub run dart_dev analyze
  - pub run dart_dev test --integration
  - pub run dart_dev coverage --integration --no-html
  - bash <(curl -s https://codecov.io/bash) -f coverage/coverage.lcov