.actions {
    float: left;
    width: 300px;
}
.content {
    margin-left: 320px;
}
.status-container {
    padding: 10px;
}
.status-container.authenticated {
    background-color: #c7f6ab;
}
.status-container.unauthenticated {
    background-color: #e5e6e3;
}
#response {
    width: 100%;
    max-height: 500px;
    padding: 8px;
    font-size: 14px;
    line-height: 18px;
    overflow: auto;
}